
<div *ngIf="currentlySelectedSongbook" class="flex flex-col mb-2">
    <div class="w-full">
        <img src={{currentlySelectedSongbook.img}} alt="songbook">
    </div>
    <div class="my-2 w-full">
        <div class="text-3xl font-bold">{{currentlySelectedSongbook.name}}</div>
        <div>{{currentlySelectedSongbook.description}}</div>
    </div>
    <a class="w-full bg-blue-900 hover:bg-blue-950 text-white font-semibold text-center p-2 rounded-lg" [routerLink]="['/songbooks/edit/', currentlySelectedSongbook.id]">
        Edit songbook
    </a>
</div>
<div *ngFor="let song of songs" (click)="selectSong(song)"
class="rounded p-2 mb-2 transition hover:bg-blue-900 hover:text-white hover:cursor-pointer"
[ngClass]="song.id === currentlySelectedSong?.id ? 'text-white bg-blue-900' : 'text-blue-500 bg-white'">
    <p class="font-bold">{{ song.title | titleshortener }}</p>
    <p>by {{ song.author }}</p>
</div>

<div *ngIf="songs.length == 0 && currentlySelectedSongbook" class="text-center text-gray-400">
    <p>Add songs to view them here!</p>
</div>

<div *ngIf="songs.length == 0 && !currentlySelectedSongbook" class="text-center text-gray-400">
    <p>Select a songbook to begin</p>
</div>