rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
		function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid))
             .data.role == "admin";
    }
    
    function isOwner(documentUid) {
      return request.auth != null && request.auth.uid == documentUid;
    }
    
    match /songbooks/{songbookId} {
      allow read, write: if isAuthenticated() && isAdmin();
      allow read, write: if isAuthenticated() && isOwner(resource.data.uid);
    }
    
    match /songs/{songId} {
      allow read, write: if isAuthenticated() && isAdmin();
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }
    
    match /users/{userId} {
      allow read: if isAuthenticated() && request.auth.uid == userId;
      allow read, write: if isAuthenticated() && isAdmin();
    }
  }
}