rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
		function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() &&
        exists(/databases/$(database)/documents/administrators/$(request.auth.uid));
    }
    
    match /songbooks/{songbookId} {
      allow read, update, delete: if isAuthenticated() && resource.data.userID == request.auth.uid;
      allow write: if isAuthenticated();
      allow read, write, update, delete: if isAdmin();
    }
    
    match /songs/{songId} {
      allow read, write, update, delete: if isAuthenticated();
    }
    
    match /administrators/{adminId} {
      allow read: if true;
      allow write: if false;
    }
  }
}