<nav class="bg-blue-900 px-16 top-0 sticky flex w-full justify-between items-center fixed drop-shadow-lg z-10">
  <a class="block h-12" href="/home"><img src="assets/logo-white.png" alt="Logo" class="h-full"></a>
    <ul class="m-0 p-0 after:content-[''] flex flex-row items-center after:block after:clear-both text-white">
      <ng-template [ngIf]="authservice.isLoggedIn()">
        <li>
          <a [routerLink]="['/home']" class="block px-3 py-6 text-sm font-medium transition hover:bg-blue-950">Home</a>
        </li>
        <li>
          <a [routerLink]="['/new-song']" class="block px-3 py-6 text-sm font-medium transition hover:bg-blue-950">Add new song</a>
        </li>
        <li>
          <a [routerLink]="['/songbooks/all']" class="block px-3 py-6 text-sm font-medium transition hover:bg-blue-950">All songbooks</a>
        </li>
        <li>
          <a href="#" class="block px-3 py-6 text-sm font-medium transition hover:bg-blue-950">Contact</a>
        </li>
        <li>
          <a (click)="onLogOut()" class="block px-3 py-6 text-sm font-medium transition hover:bg-blue-950">Logout</a>
        </li>
      </ng-template>
      <ng-template [ngIf]="!authservice.isLoggedIn()">
        <li>
          <a [routerLink]="['/register']" class="block px-3 py-6 text-sm font-medium transition hover:bg-blue-950">Register</a>
        </li>
        <li>
          <a [routerLink]="['/login']" class="block px-3 py-6 text-sm font-medium transition hover:bg-blue-950">Login</a>
        </li>
      </ng-template>
    </ul>
</nav>
  