<nav class="bg-blue-950 text-white sticky top-0 w-full">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex-shrink-0">
          <img src="" alt="Logo" class="h-8 w-8">
        </div>
  
        <div class="">
          <div class="ml-10 flex items-baseline space-x-4">
            <a href="/" class="px-3 py-2 rounded-md text-sm font-medium transition hover:bg-blue-950">Home</a>
            <a href="/new-song" class="px-3 py-2 rounded-md text-sm font-medium transition hover:bg-blue-950">Add new song</a>
            <a href="#" class="px-3 py-2 rounded-md text-sm font-medium transition hover:bg-blue-950">All songs</a>
            <a href="#" class="px-3 py-2 rounded-md text-sm font-medium transition hover:bg-blue-950">Contact</a>
          </div>
        </div>
      </div>
    </div>
</nav>
  