<app-title-bar [title]="title"></app-title-bar>
<div class="mt-3">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
            <div>
                <label class="block font-medium text-xl text-gray-700 mb-1">Title:</label>
                <input appTabspace class="border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2" formControlName="title" type="text" required>
            </div>
            <div>
                <label class="block font-medium text-xl text-gray-700 mb-1">Author:</label>
                <input appTabspace class="border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2" formControlName="author" type="text">
                </div>
            <div>
                <label class="block font-medium text-xl text-gray-700 mb-1">Link:</label>
                <input appTabspace class="border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2" formControlName="link" type="text">
            </div>
            <div>
                <label class="block font-medium text-xl text-gray-700 mb-1">Lyrics:</label>
                <pre>
<textarea appTabspace class="border-2 border-gray-200 p-2 w-3/4 h-96 rounded shadow-sm mb-2" formControlName="lyrics" required></textarea>
                </pre>
            </div>
            <button type="submit" [disabled]="!songForm.valid">Add Song</button>
        </form>
    </div>
</div>