<app-title-bar [title]="title"></app-title-bar>
<div class="mt-3">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col">
                <div class="flex flex-row w-3/5 justify-between items-center">
                    <div>
                        <label for="title" class="font-medium text-xl text-gray-700 mb-1">Title:</label>
                    </div>
                    <div class="text-red-500">
                        <div *ngIf="songForm.controls['title'].touched && songForm.controls['title'].errors?.['required']">Title is required.</div>
                    </div>
                </div>
                <input appTabspace id="title" class="form-control border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2" formControlName="title" type="text" required autocomplete="off">
            </div>
            
            <div class="flex flex-col">
                <div class="flex flex-row w-3/5 justify-between items-center">
                    <div>
                        <label for="author" class="font-medium text-xl text-gray-700 mb-1">Author:</label>
                    </div>
                    <div class="text-red-500">
                        <div *ngIf="songForm.controls['author'].touched && songForm.controls['author'].errors?.['required']">Author is required.</div>
                    </div>
                </div>
                <input appTabspace id="author" class="form-control border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2" formControlName="title" type="text" required autocomplete="off">
            </div>
            <div>
                <label class="block font-medium text-xl text-gray-700 mb-1">Songbook:</label>
                <select formControlName="selectedSongbookId" class="border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2">
                    <option *ngFor="let songbook of songbooks" [value]="songbook.id">{{songbook.name}}</option>
                </select>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row w-3/5 justify-between items-center">
                    <div>
                        <label for="tuning" class="font-medium text-xl text-gray-700 mb-1">Tuning:</label>
                    </div>
                    <div class="text-red-500">
                        <div *ngIf="songForm.controls['tuning'].touched && songForm.controls['tuning'].errors?.['required']">Tuning is required.</div>
                    </div>
                </div>
                <input appTabspace id="tuning" class="form-control border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2" formControlName="tuning" type="text" required autocomplete="off" placeholder="Standard - EADGBE, Open G - DGDGBD, etc">
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row w-3/5 justify-between items-center">
                    <div>
                        <label for="capo" class="font-medium text-xl text-gray-700 mb-1">Capo:</label>
                    </div>
                    <div class="text-red-500">
                        <div *ngIf="songForm.controls['capo'].touched && songForm.controls['capo'].errors?.['required']">Capo is required.</div>
                    </div>
                </div>
                <input appTabspace id="capo" class="form-control border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2" formControlName="capo" type="text" required autocomplete="off" placeholder="No capo, 1st fret, etc">
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row w-3/5 justify-between items-center">
                    <div>
                        <label for="link" class="font-medium text-xl text-gray-700 mb-1">Link:</label>
                    </div>
                    <div class="text-red-500">
                        <div *ngIf="songForm.controls['link'].touched && songForm.controls['link'].errors?.['invalidYoutubeLink']">Link has to be a valid YouTube link.</div>
                    </div>
                </div>
                <input appTabspace id="link" class="form-control border-2 border-gray-200 p-2 w-3/5 rounded shadow-sm mb-2" formControlName="link" type="text" required autocomplete="off" placeholder="YouTube video link, eg: https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            </div>
            <div>
                <label class="block font-medium text-xl text-gray-700 mb-1">Lyrics:</label>
                <pre>
<textarea appTabspace class="border-2 border-gray-200 p-2 w-3/4 h-96 rounded shadow-sm mb-2" formControlName="lyrics" required></textarea>
                </pre>
            </div>
            <button type="submit" class="p-4 rounded-lg bg-blue-900 hover:bg-blue-950 font-bold text-white disabled:bg-gray-400" [disabled]="!songForm.valid" (click)="onSubmit">Add Song</button>
        </form>
    </div>
</div>